.App{
    height: 100vh;
    width: 100%;
    background-image: url(/src/assets/ubuntu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.terminal{
    height: 600px;
    width:880px;
    background-color: rgb(0, 0, 0,0.7);
}
.header{
    height: 8%;
    width: 100%;
    background-color: #353952;
    display: flex;
}
.color{
    width: 13%;
    height: 100%;
    gap: 10px;
}
.color :nth-child(1){
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
}
.color :nth-child(2){
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: yellow;
    cursor: pointer;
}
.color :nth-child(3){
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: green;
    cursor: pointer;
}
.username{
    height: 100%;
    width: 87%;
    gap: 15px;
}
.username > p{
    color: rgb(177, 177, 177);
    
}
.body{
    height: 92%;
    width: 100%;
}
.date{
    color: white;
    
}
